section.memberships {
  margin-top: 60px;
  .section_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .text_container {
      @media screen and (max-width: 992px) {
        margin-bottom: 24px;
      }

      .title,
      .title2 {
        h3 {
          color: var(--main-blue-color);
          font-size: 30px;
          font-family: var(--main-font);
          font-weight: var(--font-bold);
          @media screen and (max-width: 450px) {
            text-align: left;
            font-size: 24px;
          }
        }
      }
      .title2 {
        margin-top: 24px;
        @media screen and (max-width: 450px) {
          margin-top: 16px;
        }
        h3 {
          font-size: 50px;
          @media screen and (max-width: 450px) {
            font-size: 25px;
          }
        }
      }
      .desc {
        p {
          letter-spacing: 0px;
          color: #262626;
          font-weight: var(--font-regular);
          font-family: var(--main-font);
          font-size: 24px;

          @media screen and (max-width: 450px) {
            font-size: 16px;
          }
        }
      }
    }

    .memberships_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 0px;

      @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      .member {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
          margin-bottom: 20px;
        }
        &:nth-child(7) {
          .icon_container {
            img {
              @media screen and (max-width: 750px) {
                width: 50px;
              }
            }
          }
        }
        &:nth-child(6) {
          .icon_container {
            img {
              @media screen and (max-width: 750px) {
                width: 50px;
              }
            }
          }
        }
        &:nth-child(5) {
          .icon_container {
            img {
              @media screen and (max-width: 750px) {
                width: 50px;
              }
            }
          }
        }
        &:nth-child(4) {
          .icon_container {
            img {
              @media screen and (max-width: 750px) {
                width: 50px;
              }
            }
          }
        }
        &:nth-child(1) {
          .icon_container {
            img {
              @media screen and (max-width: 750px) {
                width: 50px;
              }
            }
          }
        }

        .icon_container {
          img {
            width: 112px;
            height: 112px;
            object-fit: contain;

            @media screen and (max-width: 992px) {
              width: 80px;
              height: 50px;
            }
          }
        }
        .title {
          margin-top: 8px;
          @media screen and (max-width: 450px) {
            margin-top: 0;
          }
          p {
            color: var(--main-gray-color);
            font-size: 16px;
            font-family: var(--main-font);
            font-weight: var(--font-semiBold);
            line-height: 1.5rem;

            @media screen and (max-width: 992px) {
              font-size: 14px;
              line-height: 1.2em;
            }
          }
        }
      }
    }
  }
}
