section.quote {
  margin-top: 80px;

  .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 450px) {
      width: 100%;
      align-items: flex-start;
    }
    .title {
      text-align: center;
      margin-bottom: 24px;

      @media screen and (max-width: 450px) {
        text-align: left;
        width: 100%;
        margin-bottom: 16px;
      }

      h3 {
        color: var(--main-blue-color);
        font-size: 30px;
        font-family: var(--main-font);
        font-weight: var(--font-bold);

        @media screen and (max-width: 450px) {
          font-size: 24px;
        }
      }
    }

    .desc {
      width: 70%;
      text-align: center;
      margin-bottom: 24px;
      @media screen and (max-width: 450px) {
        text-align: left;
        width: 100%;
      }
      p {
        letter-spacing: 0px;
        color: var(--main-blue-color);
        font-weight: var(--font-medium);
        font-family: var(--main-font);
        font-size: 24px;
        @media screen and (max-width: 450px) {
          font-size: 18px;
          line-height: 1.3em;
        }
      }
    }
  }

  .section_container {
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    width: 100%;

    .img_container {
      margin-right: 50px;
      @media screen and (max-width: 992px) {
        display: none;
      }

      img {
        width: 199.58px;
        height: 274px;
      }
    }

    .steps_container {
      width: 100%;

      form {
        .input_wrap {
          @media screen and (max-width: 992px) {
            width: 100%;
          }

          label {
            @media screen and (max-width: 992px) {
              align-items: flex-start !important;
            }
            & > span {
              @media screen and (max-width: 992px) {
                margin-top: 2px;
              }
            }
          }
          span {
            @media screen and (max-width: 992px) {
              padding-top: 0px;
            }

            &:last-child {
              display: none;
            }
          }

          @media screen and (max-width: 992px) {
            background-color: var(--main-beige-color);
            margin-bottom: 16px;
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .treatments {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          color: var(--main-dark-color);
          font-size: 19px;
          font-family: var(--main-font);
          font-weight: var(--font-regular);

          @media screen and (max-width: 450px) {
            font-size: 16px;
          }
        }

        span input span {
          color: "red" !important;
        }

        .nextBtn {
          align-self: center;
          text-align: center;
          margin-right: 287px;
          margin-top: 24px;
          @media screen and (max-width: 992px) {
            margin-right: 0;
          }

          button {
            width: 232px;
            background-color: var(--main-blue-color);
            color: var(--main-white-color);
            font-size: 20px;
            font-family: var(--main-font);
            font-weight: var(--font-bold);
            border-radius: 30px;
            text-transform: capitalize;
          }
        }
      }

      .input_container {
        margin-left: 120px;
        @media screen and (max-width: 992px) {
          margin-left: 0;
          margin: auto;
        }

        .name,
        .email,
        .phone {
          margin-bottom: 16px;
          input {
            width: 204px;
            height: 45px;

            border: 1px solid var(--main-blue-color);
            border-radius: 5px;

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 16px;

            &:focus {
              outline: none;
            }
          }
        }

        .name {
          @media screen and (max-width: 992px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            input {
              width: 100%;
            }
          }

          input:first-child {
            margin-right: 16px;
            @media screen and (max-width: 992px) {
              margin-right: 0;
              margin-bottom: 16px;
            }
          }
        }

        .email {
          input {
            width: 424px;
          }
        }

        .phone {
          input {
            padding: 0 !important;
            width: 424px;
            padding-left: 43px !important;
          }
        }

        .email,
        .phone {
          input {
            @media screen and (max-width: 992px) {
              width: 100%;
            }
          }
        }

        .nextBtn {
          text-align: center;
          margin-right: 0 !important;
          margin-top: 50px;
        }
      }

      .conf_msg {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        background-color: var(--main-beige-color);
        border-radius: 12px;
        padding: 16px;

        @media screen and (max-width: 992px) {
          height: auto;
        }

        @media screen and (max-width: 450px) {
          text-align: left;
        }
        .title {
          margin-bottom: 20px;
          h5 {
            color: var(--main-blue-color);
            font-family: var(--main-font);
            font-weight: var(--font-bold);
          }
        }

        .desc {
          p {
            color: var(--main-blue-color);
            font-family: var(--main-font);
            font-weight: var(--font-bold);

            @media screen and (max-width: 450px) {
              line-height: 1.3em;
            }
          }
        }
      }
    }
  }
}

section.quote[dir="rtl"] {
  * {
    font-family: var(--arabic-font) !important;
  }
  .text_container {
    .title {
      h3 {
      }
    }

    .desc {
      @media screen and (max-width: 450px) {
        text-align: right;
      }
      p {
      }
    }
  }

  .section_container {
    .img_container {
      margin-right: unset;
      margin-left: 50px;

      img {
      }
    }

    .steps_container {
      width: 100%;

      form {
        .input_wrap {
          label {
          }
          span {
          }
        }

        .treatments {
        }

        span {
        }

        .nextBtn {
          margin-right: unset;
          margin-left: 287px;
          @media screen and (max-width: 992px) {
            margin-left: 0;
          }

          button {
          }
        }
      }

      .input_container {
        margin-left: unset;
        margin-right: 120px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: 992px) {
          margin-right: 0;
          margin: auto;
        }

        .name,
        .email,
        .phone {
          input {
            padding-left: unset;
            padding-right: 16px;

            &:focus {
              outline: none;
            }
          }
        }

        .name {
          input:first-child {
            margin-right: unset;
            margin-left: 16px;
            @media screen and (max-width: 992px) {
              margin-left: 0;
            }
          }
        }

        .email {
          input {
          }
        }

        .phone {
          input {
            padding: 0 !important;
            width: 424px;
            padding-left: 43px !important;
          }
        }

        .email,
        .phone {
          input {
          }
        }

        .nextBtn {
          text-align: center;
          margin-right: 0 !important;
          margin-top: 50px;
        }
      }

      .conf_msg {
        @media screen and (max-width: 992px) {
          height: auto;
        }

        @media screen and (max-width: 450px) {
          text-align: right;
        }
        .title {
          margin-bottom: 20px;
          h5 {
          }
        }

        .desc {
          p {
            @media screen and (max-width: 450px) {
            }
          }
        }
      }
    }
  }
}
