.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .logo {
    display: flex;
    align-items: center;
    .icon_container {
      width: 44px;
      height: 42.42px;
      margin-right: 7.54px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h1 {
      color: var(--main-blue-color);
      font-size: 23px;
      font-weight: bold;
      font-family: var(--main-font);
    }
  }
  .links {
    a {
      color: var(--main-blue-color);
      font-size: 16px;
      font-weight: bold;
      font-family: var(--main-font);
      margin-right: 50px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--main-beige-color);
        position: absolute;
        bottom: -11px;
        left: -11px;
        opacity: 0;
        transition: all 0.4s ease;
      }
      &:hover::after {
        opacity: 1;
        left: 0;
      }
    }
  }
  .num {
    display: flex;
    position: relative;
    .img_container {
      position: absolute;
      top: -2px;
      left: -17px;
      width: 30px;
      height: 37px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    a {
      color: var(--main-white-color);
      font-size: 16px;
      font-weight: bold;
      font-family: var(--main-font);
      background-color: var(--main-blue-color);
      padding: 4px 10px;
      padding-left: 16px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 20px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 20px;
    }
  }
}
