section.reviews {
  margin-top: 60px;

  .section_container {
    background-color: var(--main-beige-color);
    overflow: hidden;
    padding: 50px;
    border-radius: 75px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      display: block;
      width: 100%;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 16px;
      padding-right: 16px;
      background-color: var(--main-beige-color);
      border-radius: 12px;
    }

    @media screen and (max-width: 992px) {
      padding: 8px;
    }
    .text_container {
      width: 33%;
      @media screen and (max-width: 992px) {
        width: 100%;
        margin-bottom: 24px;
      }

      .title,
      .title2 {
        margin-bottom: 16px;
        h3 {
          color: var(--main-blue-color);
          font-size: 30px;
          font-family: var(--main-font);
          font-weight: var(--font-bold);
          @media screen and (max-width: 450px) {
            font-size: 24px;
          }
        }
      }

      .title2 {
        margin-top: 16px;
        margin-bottom: 0px;
      }

      .desc {
        p {
          text-align: left;

          letter-spacing: 0px;
          color: #262626;
          font-weight: var(--font-regular);
          font-family: var(--main-font);
          font-size: 24px;

          @media screen and (max-width: 450px) {
            font-size: 18px;
          }
        }
      }
    }

    .slider_container {
      width: 100%;

      .box {
        background-color: var(--main-white-color);
        width: 244px;
        border-radius: 20px;
        padding: 20px;

        @media screen and (max-width: 992px) {
          padding: 16px;
          margin-right: 10px;
        }

        .author {
          display: flex;
          align-items: center;
          margin-bottom: 11px;
          .icon_container {
            margin-left: 7px;
          }

          p {
            color: var(--main-blue-color);
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: var(--font-bold);
          }
        }

        .date {
          margin-bottom: 10px;

          p {
            color: var(--third-gray-color);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: var(--font-regular);
          }
        }

        .rate {
        }

        .desc {
          margin-bottom: 11px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 6;
          white-space: pre-wrap;
          -webkit-line-clamp: 6;
          p {
            color: var(--sec-gray-color);
            font-family: var(--main-font);
            font-size: 20px;
            font-weight: var(--font-medium);
            @media screen and (max-width: 450px) {
              font-size: 18px;
            }
          }
        }

        p {
          color: var(--third-gray-color);
          font-family: var(--main-font);
          font-size: 14px;
          font-weight: var(--font-regular);
        }
      }
    }
  }
}

section.reviews[dir="rtl"] {
  * {
    font-family: var(--arabic-font) !important;
  }
  .section_container {
    .text_container {
      .title,
      .title2 {
        h3 {
        }
      }

      .title2 {
      }

      .desc {
        p {
          text-align: right;
        }
      }
    }

    .slider_container {
      .box {
        @media screen and (max-width: 992px) {
          margin-left: unset;
          margin-right: 10px;
        }

        .author {
          .icon_container {
            margin-left: unset;
            margin-right: 7px;
          }

          p {
          }
        }

        .date {
          p {
          }
        }

        .rate {
        }

        .desc {
          p {
          }
        }

        p {
        }
      }
    }
  }
}
