#hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../../assets/imgs/Hero_Bg.png");
  object-fit: cover;
  border-radius: 0px 0px 75px 75px;

  @media screen and (max-width: 992px) {
    border-radius: 0px;
    padding-top: 26px;
    padding-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    background-color: var(--main-beige-color);
    padding-left: 43px;
    padding-top: 12.5px;
    padding-bottom: 55px;
    border-radius: 75px;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 992px) {
      padding-right: 16px;
      padding-left: 16px;
      border-radius: 12px;
      padding-bottom: 24px;
      padding-top: 24px;
    }

    @media screen and (max-width: 992px) {
      background-color: #ffeee1c4;
    }
    .card_inner,
    .card_inner_mob {
      display: flex;
      align-items: center;

      @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
      }
      .text_container {
        .title {
          margin-top: 50px;
          margin-bottom: 86px;
          @media screen and (max-width: 992px) {
            margin-top: 25px;
            margin-bottom: 6px;
            margin-top: 0px;
          }

          h2 {
            font-family: var(--main-font);
            color: var(--main-blue-color);
            font-size: 40px;
            font-weight: 400;

            @media screen and (max-width: 992px) {
              font-size: 28px;

              br {
                display: none;
              }
            }
          }
        }

        .desc {
          margin-bottom: 31px;
          p {
            color: var(--main-blue-color);
            font-size: 28px;
            font-family: var(--main-font);
            font-weight: var(--font-regular);

            @media screen and (max-width: 992px) {
              font-size: 24px;
            }
          }
        }

        .btn {
          margin-left: 60px;
          @media screen and (max-width: 992px) {
            margin-left: 0;
          }
          button {
            background-color: var(--main-blue-color);
            color: var(--main-white-color);
            font-size: 16px;
            font-family: var(--main-font);
            font-weight: var(--font-bold);
            box-shadow: var(--btn-box-shadow);
            border-radius: 30px;
            text-transform: capitalize;
            padding: 13px 22px;
          }
        }
      }
      .img_container {
        @media screen and (max-width: 992px) {
          width: 300px;
          height: 254px;
          margin: auto;
        }
        img {
          width: 573px;
          height: 471px;

          @media screen and (max-width: 992px) {
            width: 250px;
            height: 250px;
          }
        }
      }
    }

    .card_inner {
      @media screen and (max-width: 992px) {
        display: none !important;
      }
    }

    .card_inner_mob {
      flex-direction: column;
      @media screen and (min-width: 992px) {
        display: none !important;
      }

      .title {
        margin-top: 50px;
        margin-bottom: 86px;
        @media screen and (max-width: 992px) {
          margin-top: 25px;
          margin-bottom: 6px;
          margin-top: 0px;
        }

        h2 {
          font-family: var(--main-font);
          color: var(--main-blue-color);
          font-size: 40px;
          font-weight: 400;

          @media screen and (max-width: 992px) {
            font-size: 28px;
            font-weight: bold;

            br {
              display: none;
            }
          }
        }
      }

      .desc {
        margin-bottom: 31px;
        p {
          color: var(--main-blue-color);
          font-size: 28px;
          font-family: var(--main-font);
          font-weight: var(--font-medium);

          @media screen and (max-width: 992px) {
            font-size: 18px;
          }
        }
      }

      .btn {
        margin-left: 60px;
        @media screen and (max-width: 992px) {
          margin-left: 0;
        }
        button {
          background-color: var(--main-blue-color);
          color: var(--main-white-color);
          font-size: 16px;
          font-family: var(--main-font);
          font-weight: var(--font-bold);
          box-shadow: var(--btn-box-shadow);
          border-radius: 30px;
          text-transform: capitalize;
          padding: 13px 22px;
        }
      }

      .img_container {
        @media screen and (max-width: 992px) {
          width: 300px;
          height: 254px;
          margin: auto;
        }
        img {
          width: 573px;
          height: 471px;

          @media screen and (max-width: 992px) {
            width: 100%;
            height: 250px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
