footer.footer {
  margin-top: 80px;
  background-color: var(--main-beige-color);

  .footer_container {
    padding-top: 58px;
    padding-bottom: 85px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }

    .text_container {
      .logo {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80px;
          height: 80px;
          margin-right: 14px;
          @media screen and (max-width: 450px) {
            width: 44px;
            height: 44px;
          }
        }
        h1 {
          color: var(--main-blue-color);
          font-size: 45px;
          font-weight: bold;
          font-family: var(--main-font);

          @media screen and (max-width: 450px) {
            font-size: 34px;
          }
        }
      }

      .desc {
        margin-bottom: 58px;

        p {
          color: var(--main-blue-color);
          font-size: 28px;
          font-weight: var(--font-regular);
          font-family: var(--main-font);
          @media screen and (max-width: 992px) {
            font-size: 18px;
            text-align: center;
          }
        }
      }

      .language {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 992px) {
          margin-bottom: 24px;
          justify-content: flex-start;
        }

        a {
          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-right: 24px;
          }
          img {
            width: 20.7px;
            height: 20.7px;
            margin: 4px;
            object-fit: contain;
          }
          p {
          }
        }
      }
    }

    .media_container {
      .media {
        display: flex;
        align-items: center;
        margin-top: 57px;
        justify-content: center;
        @media screen and (max-width: 992px) {
          margin-top: 24px;
        }

        a {
          &:not(:last-child) {
            margin-right: 19px;
          }
          img {
            width: 25.19px;
            height: 25.19px;
          }
        }
      }

      .subscribe_container {
        width: 333px;
        background-color: var(--main-white-color);
        padding: 16px 16px 33px 16px;
        border-radius: 14px;
        box-shadow: 0px 3px 10px #00000029;

        .title {
          margin-bottom: 22px;
          p {
            color: var(--main-blue-color);
            font-weight: var(--font-bold);
            font-size: 18px;
            font-family: var(--main-font);
          }
        }

        .input_container {
          position: relative;
          overflow: hidden;
          label {
            position: absolute;
            right: 0;
            background-color: var(--main-blue-color);
            border-radius: 0px 5px 5px 0px;

            button {
              color: var(--main-white-color);
              font-size: 16px;
              font-family: var(--main-font);
              font-weight: var(--font-bold);
              border-radius: 0px 5px 5px 0px;

              padding: 0;
              height: 37px;
              text-transform: capitalize;
            }
            text-align: center;
          }
          input {
            width: 100%;
            height: 38.15px;
            border-right: none;
            border: 1px solid var(--main-blue-color);
            padding-left: 14px;

            font-weight: var(--font-bold);
            border-radius: 5px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

footer.footer[dir="rtl"] {
  * {
    font-family: var(--arabic-font) !important;
  }

  .footer_container {
    .text_container {
      .logo {
        img {
          margin-right: unset;
          margin-left: 14px;
        }
        h1 {
        }
      }

      .desc {
        p {
        }
      }

      .language {
        a {
          &:not(:last-child) {
            margin-right: unset;
            margin-left: 24px;
          }
          img {
          }
          p {
          }
        }
      }
    }

    .media_container {
      .media {
        a {
          &:not(:last-child) {
            margin-right: unset;
            margin-left: 19px;
          }
          img {
          }
        }
      }

      .subscribe_container {
        .title {
          p {
            text-align: left;
          }
        }

        .input_container {
          label {
            button {
            }
          }
          input {
            padding-left: unset;
            padding-right: 74px;

            &:focus {
            }
          }
        }
      }
    }
  }
}
